/* PALETTE */

$background: #F9FDF1;
$background-blue: #E9EDF9;
$orange: #FF7B00;
$blue: #00009A;
$lavender: #655CFF;
$purple: #5600A2;
$red: #E41A3F;
$brown: #B93B00;
$olive: #333300;


/* MIXINS FOR RESPONSIVENESS */

$screen-xs: 24rem; // 384px

@mixin xs {
   @media (max-width: #{$screen-xs}) {
       @content;
   }
}

$screen-sm: 32rem; // 512px

@mixin sm {
   @media (max-width: #{$screen-sm}) {
       @content;
   }
}

$screen-md: 48rem; // 768px

@mixin md {
   @media (max-width: #{$screen-md}) {
       @content;
   }
}

$screen-lg: 64rem; // 1024px

@mixin lg {
   @media (max-width: #{$screen-lg}) {
       @content;
   }
}

$screen-xl: 96rem; // 1536px

@mixin xl {
   @media (max-width: #{$screen-xl}) {
       @content;
   }
}
