/* PALETTE */

$red: #B00005;
$pink: #DF999B;
$black: #1D1D1B;
$grey: #9D9D9C;
$lightgrey: #E9E8E4;


/* MIXINS FOR RESPONSIVENESS */

$screen-xs: 24rem; // 384px

@mixin xs {
   @media (max-width: #{$screen-xs}) {
       @content;
   }
}

$screen-sm: 32rem; // 512px

@mixin sm {
   @media (max-width: #{$screen-sm}) {
       @content;
   }
}

$screen-md: 48rem; // 768px

@mixin md {
   @media (max-width: #{$screen-md}) {
       @content;
   }
}

$screen-lg: 64rem; // 1024px

@mixin lg {
   @media (max-width: #{$screen-lg}) {
       @content;
   }
}

$screen-xl: 96rem; // 1536px

@mixin xl {
   @media (max-width: #{$screen-xl}) {
       @content;
   }
}
